
  <div class="footer hidden-lg hidden-sm">
        <ul class="inline-icons">
          <li class="active"><a href="/mobile"><i class="fa fa-home white"></i><br>Home</a></li>
          <li><i class="fa fa-envelope-o white"></i> <br>Records</li>
          <li><a  data-toggle="modal" data-target="#modalsupport"><i class="fa fa-commenting-o white"></i> <br>Support</a></li>
          <li><a href="#"><i class="fa fa-gear white"></i><br> Settings</a></li>
        </ul>
</div>
