<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dashboard | Proconstruct</title>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="../assets/mobile/images/logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/mobile/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans|Nunito:400,600,700&display=swap" rel="stylesheet">
</head>
    <body>
        <div class="visibility">
      <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand mobile-nav-head" href="/mobile"><i class="fa fa-arrow-left" style="font-size:24px"></i> Intent Request</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav mnav">
          <li class="active">
            <a href="#">Home</a></li>
          <li><a href="#">Records</a></li>
          <li><a href="#">Support</a></li>
          <li><a href="#">Settings</a></li>
        </ul>
        <div class="right "><img class="navicon" src="" onerror="this.src='../assets/mobile/images/user.png';"></div>
      </div>
  </div>

</nav>      <centre>
            <div class="purchaseorder irequest">
                <div class="">
                <div class="request-form">
                    <div class="row">
                        <div class="col-md-6 col-xs-6">
                      <div class="form-group">
                          <label for="Subject">Request id:</label>
                        <p>#25272628</p>
                        </div></div>
                          <div class="col-md-6 col-xs-6">
                              <div class="form-group">
                                  <label for="Subject">Due Date:</label>
                                  <input class="form-control" type="date">

                          </div></div>
                  </div>
                 <div class="form-group">
                    <label for="Subject">Subject:</label>
                    <textarea class="form-control" rows="1" id="comment"></textarea>
                </div>
                <div class="form-group">
                    <label for="Subject">Description:</label>
                    <textarea class="form-control" rows="5" id="comment"></textarea></div>
                    <div class="row">
                      <div class="col-md-6 col-xs-6">
                    <div class="form-group">
                        <label for="Subject">Request Type:</label>
                        <select class="form-control" id="sel1">
                          <option>Select</option>
                            <option>Purchase Request</option>
                            <option>Issue Check</option>
                          </select></div></div>
                        <div class="col-md-6 col-xs-6">
                            <div class="form-group">
                                <label for="Subject">Priority:</label>
                              <select class="form-control" id="sel1">
                              <option>Low</option>
                            <option>Medium</option>
                            <option>High</option>
                          </select>
                        </div></div>
                </div>
              <centre><button class="loginbutton">Submit</button></centre>
              </div>
                <div class="display-tickets" >
                  <div class="wrap">
                      <input class="form-control" type="text">
                  <button class="btn bt-primary">Add Item</button>

                </div>
              <table class="tickettable" id="irequesttable" style="overflow-x: scroll;margin-top:10px;">
             <thead>
                <tr class="header">
                <th style="width:10%;">S.No</th>
                <th style="width:60%;">Item Name</th>
                <th style="width:30%;">Quantity</th>
                </tr>
              </thead>

          </table>

        <div class="footer">
          <ul class="inline-icons">
            <li><button class="buttonissue">Order Issue</button></li>
            <li><button class="buttonsubmit">Received</button></li>

          </ul>
        </div> </div>        </div>
                </div></div>    </centre>
            </div>
            </div>
            </div>
<%- include('footer.ejs') %>
    </div>





    </body>
</html>
