<html lang="en" id="html">
<head>
  <title>Admin Panel</title>
  <meta charset="utf-8">
 <link rel="shortcut icon" href="images/mini-logo.png" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/index.css">
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <% include header.ejs %>
<% include side_bar.ejs %>
    <div class="main-content">
           <div class="container1">
          <div id="preloader">
  <div id="status">&nbsp;</div>
</div>
                <div id="my_div">
                    
               <form action="/addemp" method="Post" enctype="multipart/form-data" >     
                    <h4>Add Employee</h4>
      <table class="table table-user-information passtab drivetab">
          <tbody>
            <thead>
              <td style="width:25%;"></td>
              <td style="width:75%;"></td>
            </thead>
                   <tr>
              <td>Employee Photo :</td>
              <td>
                  <input type="file" class="controls" name="EMP" accept="image/*">
                  </td>
            </tr>
            <tr>
              <td>Employee Name :</td>
              <td><input class="controls" name="name" type="text" placeholder="Enter Employee Name" required></td>
            </tr>
            <tr>
              <td>Employee Email :</td>
              <td><input class="controls" name="mail" type="email"  placeholder="Enter Employee Email"></td>
            </tr>
            <tr>
              <td>Employee Contact :</td>
              <td><input class="controls" type="number" name="number"  onkeypress="return isNumber(event)"  placeholder="Enter Employee Contact Number" required></td>
            </tr>
 <tr>
              <td>Employee Address :</td>
              <td><textarea class="controls textarea" type="text" name="address" style="width:70%;"> </textarea>  </td> 
            </tr>
                   <tr>
              <td>Employee Designation :</td>
              <td><input class="controls" type="text" name="designation"  placeholder="Enter Employee Designation" required></td>
            </tr>
            <tr>
              <td>Authorization Level :</td>
              <td><select class="controls selectit" name="auth" style="width:70%;" required>
                <option value="1">Superadmin Level</option>
                <option value="2" selected>Employee Level</option>
              </select></td>
            </tr>
              <tr>
              <td>CTC Package: </td>
              <td><input class="controls" type="number" name="ctc" onkeypress="return isNumber(event)" placeholder="Enter Employee CTC"></td>
            </tr>
            <tr>
              <td>Joining Date :</td>
              <td>
                  <input type="date"  name="joindate"class="controls" >
                  </td>
            </tr>
            
           
</tbody></table> 
               <button class="buttonblue">Add Employee</button>
</form>
            </div>
          </div>
<script>$('.btn-expand-collapse').click(function(e) {
				$('.navbar-primary').toggleClass('collapsed');
});</script>
      <script>
        var dropdown = document.getElementsByClassName("dropdown-btn");
        var i;
        
        for (i = 0; i < dropdown.length; i++) {
          dropdown[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
              dropdownContent.style.display = "none";
            } else {
              dropdownContent.style.display = "block";
            }
          });
        }
        </script>
    
    <script>$(window).on('load', function() { // makes sure the whole site is loaded 
  $('#status').fadeOut(); // will first fade out the loading animation 
  $('#preloader').delay(350).fadeOut('slow'); // will fade out the white DIV that covers the website. 
  $('body').delay(350).css({'overflow':'visible'});
})</script>
    
      <script>
                              $(document).ready(function(){
                                $("#myInput").on("keyup", function() {
                                  var value = $(this).val().toLowerCase();
                                  $("#myTable tr").filter(function() {
                                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                                  });
                                });
                              });
                              </script>
<script src="/customjs/onlynumbers.js"></script>
<script src="/customjs/onlyalphabets.js"></script>
    </body></html>