<html lang="en" id="html">
<head>
  <title>Admin Panel</title>
  <meta charset="utf-8">
 <link rel="shortcut icon" href="assets/images/mini-logo.png" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../css/bootstrap.css">
  <link rel="stylesheet" href="../css/index.css">
  <script src="../js/jquery.min.js"></script>
  <script src="../js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <div class="main-content">
           <div class="container1">
          <div id="preloader">
  <div id="status">&nbsp;</div>
</div>
                <div id="my_div">
                    
               <form action="../upload/upload.php" method="Post" enctype="multipart/form-data" >     
                    <h4>Add Employee</h4>
      <table class="table table-user-information passtab drivetab">
          <tbody>
            <thead>
              <td style="width:25%;"></td>
              <td style="width:75%;"></td>
            </thead>
                   <tr>
              <td>Employee Photo :</td>
              <td>
                  <input type="file" class="controls" name="file" accept="image/*">
                  </td>
            </tr>
            <tr>
              <td>Employee Name :</td>
              <td><input class="controls" name="name" type="text" placeholder="Enter Employee Name"></td>
            </tr>
            <tr>
              <td>Employee Email :</td>
              <td><input class="controls" name="mail" type="email"  placeholder="Enter Employee Email"></td>
            </tr>
            <tr>
              <td>Employee Contact :</td>
              <td><input class="controls" type="text" name="number"  onkeypress="return isNumber(event)"  placeholder="Enter Employee Contact Number"></td>
            </tr>
 <tr>
              <td>Employee Address :</td>
              <td><textarea class="controls" type="text" name="address"> </textarea>  </td>
            </tr>
                   <tr>
              <td>Employee Designation :</td>
              <td><input class="controls" type="text" name="designation"  placeholder="Enter Employee Designation"></td>
            </tr>
              <tr>
              <td>CTC Package: </td>
              <td><input class="controls" type="text" name="ctc" onkeypress="return isNumber(event)" placeholder="Enter Employee CTC"></td>
            </tr>
            <tr>
              <td>Joining Date :</td>
              <td>
                  <input type="date"  value="<?php echo $today; ?>" id="datepicker" name="joindate"class="controls" >
                  </td>
            </tr>
            
           
</tbody></table> 
               <button class="buttonblue">Add Employee</button>
</form>
            </div>
          </div>

<!--right modal-content starts here-->

  <div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
  
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title title" id="myModalLabel2">Employee Information<span class="green"> (SV456)</span><span class="btn btn-default" style="float:right;margin:0px 10px;">Update</span></h4>
          </div>
  
          <div class="modal-body">
              <table class="table table-user-information">
                  <tbody>
                    <tr>
                      <td class="first">Employee Name :</td>
                      <td class="first"><input typ="text" class="text" value="saicharan"></td>
                      </tr>
                    <tr>
                      <td>Employee Contact :</td>
                      <td><input typ="text" class="text" value="+44 7344546748"></td>
                    </tr>
    
                           <tr>
                      <td>Employee Email Address:</td>
                      <td><input typ="text" class="text" value="saicharan@gmail.com"></td>
                    </tr>
                      <tr>
                      <td>Resident Address : </td>
                      <td><input typ="text" class="text" value="No:30a, Poniamman koil street, hastinapuram, chennia- 6000064"></td>
                    </tr>
                    <tr>
                      <td>Joined Date :</td>
                      <td><input typ="text" class="text" value="14/09/2016"></td>
                    </tr>
                    <tr>
                        <td>Designation :</td>
                        <td><input typ="text" class="text" value="site Engineer "></td>
                      </tr>
                      <tr>
                          <td>Years in Experince :</td>
                          <td><input typ="text" class="text" value="1 year"></td>
                        </tr>
                    <td><button class="buttongreen" style="margin-top:10px;">Activate</button></td>
                  
</tbody></table>  
    
              
        </div><!-- modal-content -->
      </div><!-- modal-dialog -->
      </div><!-- modal --></div>
      </div>

<script>$('.btn-expand-collapse').click(function(e) {
				$('.navbar-primary').toggleClass('collapsed');
});</script>
      <script>
        var dropdown = document.getElementsByClassName("dropdown-btn");
        var i;
        
        for (i = 0; i < dropdown.length; i++) {
          dropdown[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
              dropdownContent.style.display = "none";
            } else {
              dropdownContent.style.display = "block";
            }
          });
        }
        </script>
    
    <script>$(window).on('load', function() { // makes sure the whole site is loaded 
  $('#status').fadeOut(); // will first fade out the loading animation 
  $('#preloader').delay(350).fadeOut('slow'); // will fade out the white DIV that covers the website. 
  $('body').delay(350).css({'overflow':'visible'});
})</script>
    
      <script>
                              $(document).ready(function(){
                                $("#myInput").on("keyup", function() {
                                  var value = $(this).val().toLowerCase();
                                  $("#myTable tr").filter(function() {
                                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                                  });
                                });
                              });
                              </script>

    </body></html>