<!DOCTYPE html>
<html lang="en" id="html">
<head>
  <title>Admin Panel</title>
 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../css/bootstrap.css">
  <link rel="stylesheet" href="../css/index.css">
  <script src="../js/jquery.min.js"></script>
  <script src="../js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
   <a href="#" class="btn-expand-collapse"><i class="fa fa-bars"></i></a>
      <a class="navbar-brand" id="brandname" href="#"> Sri Venkatachalapathy & Co</a>
    </div>
    <div class="collapse navbar-collapse " id="myNavbar">
      <div class="nav navbar-nav padleft">
       <div class="row">
<div class="col-md-12">
  </div>
       </div>
    </div>
       
      <ul class="nav navbar-nav navbar-right navextra" >
        <li><a data-toggle="tooltip" data-placement="bottom" title="Settings" href="#"><span class="fa fa-gear"></span> Settings</a></li>
        <li><a data-toggle="tooltip" data-placement="bottom" title="Logout" href="#"><span class="fa fa-power-off"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
<nav class="navbar-primary">
  
  <ul class="navbar-primary-menu">
    <li>
      <a href="index.html">Dashboard</a>
            <a class="dropdown-btn">Company Management <i class="fa fa-caret-down"></i></a>
              <div class="dropdown-container">
                  <a href="./empdata">Employee Data</a>
                <a href="attendance">Attendance</a>
                <a href="prolist.html">Employee Benefits</a>
                <a href="cprofit.html">Site Details</a>
              </div>
         <a class="dropdown-btn"> Stock Management<i class="fa fa-caret-down"></i></a>
              <div class="dropdown-container">
                  <a href="dlist.html">Inward Stock</a>
                <a href="adriver.html">Closing Stock</a>
                <a href="danalytics.html">Site Purchase</a>
                <a href="payments.html">Stock Requirement</a>
              </div>
       <a href="./task">Task Monitor</a>    
       <a href="bquote.html">Dealers Data</a>
       <a href="./bills">Bills & Receipts</a>
        <a href="webupload.html">Payments</a>
        <a href="settings.html"><i class="fa fa-gear"></i>Settings</a>

    </li>
    </ul>
</nav>

 
    <div class="main-content">
           <div class="container1">
                <div id="my_div">
                    <h4>Bills & Receipts</h4>
                  <div class="row"><br>
        <div class="col-xs-6">
 <div id="reportrange" style="background: #fff;cursor: pointer; padding: 5px 10px; border: 1px solid #ccc;">  <i class="fa fa-calendar"></i>&nbsp;
    <span></span> <i class="fa fa-caret-down"></i>
</div></div> <div class="col-xs-6"><button class="buttongreen">Check Bills</button></div></div>
                    <br>
                    <div class="row">
               <div class="col-md-4">
                            <div class="carding">
                                <img class="docimage" src="../images/res2.jpg" onerror="this.src='../assets/images/docalt.png';" />
                                <div class="container1 toping">
                                    <h4><b># Bill 21</b><button style="float:right;" data-toggle="modal" data-target="#myModal2" class="buttonred">View</button></h4> 
                                    <p>Steel Stock Bill</p>
                                </div>
                            </div>
                        </div>
                         <div class="col-md-4">
                            <div class="carding">
                                <img class="docimage" src="../images/res2.jpg" onerror="this.src='../assets/images/docalt.png';" />
                                <div class="container1 toping">
                                    <h4><b># Bill 21</b><button style="float:right;" data-toggle="modal" data-target="#myModal2" class="buttonred">View</button></h4> 
                                    <p>Steel Stock Bill</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="carding">
                                <img class="docimage" src="../images/res2.jpg" onerror="this.src='../assets/images/docalt.png';" />
                                <div class="container1 toping">
                                    <h4><b># Bill 21</b><button style="float:right;" data-toggle="modal" data-target="#myModal2" class="buttonred">View</button></h4> 
                                    <p>Steel Stock Bill</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <br>
                </div>
            </div>
        </div>       
    
<!--right modal-content starts here-->

  <div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
  
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title title" id="myModalLabel2">Bill Information<span class="green"> (Bill 21)</span><span class="btn btn-default" style="float:right;margin:0px 10px;">Update</span></h4>
          </div>
  
          <div class="modal-body">
              <img  src="../images/res2.jpg" onerror="this.src='../assets/images/docalt.png';" />
    
             <center> <button class="buttonblue">Approve Bill</button></center>
        </div><!-- modal-content -->
      </div><!-- modal-dialog -->
      </div><!-- modal --></div>

<script>$('.btn-expand-collapse').click(function(e) {
				$('.navbar-primary').toggleClass('collapsed');
});</script>
      <script>
        var dropdown = document.getElementsByClassName("dropdown-btn");
        var i;
        
        for (i = 0; i < dropdown.length; i++) {
          dropdown[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
              dropdownContent.style.display = "none";
            } else {
              dropdownContent.style.display = "block";
            }
          });
        }
        </script>
     <script type="text/javascript">
        $(function() {

            var start = moment().subtract(29, 'days');
            var end = moment();

            function cb(start, end) {
                $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            }

            $('#reportrange').daterangepicker({
                startDate: start,
                endDate: end,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                }
            }, cb);

            cb(start, end);

        });
    </script>

    <script>$(window).on('load', function() { // makes sure the whole site is loaded 
  $('#status').fadeOut(); // will first fade out the loading animation 
  $('#preloader').delay(350).fadeOut('slow'); // will fade out the white DIV that covers the website. 
  $('body').delay(350).css({'overflow':'visible'});
})</script>
    
      <script>
                              $(document).ready(function(){
                                $("#myInput").on("keyup", function() {
                                  var value = $(this).val().toLowerCase();
                                  $("#myTable tr").filter(function() {
                                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                                  });
                                });
                              });
                              </script>
    </body></html>