<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
   <a href="#" class="btn-expand-collapse"><i class="fa fa-bars"></i></a>
      <a class="navbar-brand" id="brandname" href="#"> Sri Venkatachalapathy & Co</a>
    </div>
    <div class="collapse navbar-collapse " id="myNavbar">
      <div class="nav navbar-nav padleft">
       <div class="row">
<div class="col-md-12">
  </div>
       </div>
    </div>
      <ul class="nav navbar-nav navbar-right navextra" >
        <li><a data-toggle="tooltip" data-placement="bottom" title="Settings" href="#"><span class="fa fa-gear"></span> Settings</a></li>
        <li><a data-toggle="tooltip" data-placement="bottom" title="Logout" href="/logout"><span class="fa fa-power-off"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>