<nav class="navbar-primary">
  
  <ul class="navbar-primary-menu">
    <li>
      <a href="http://ishu.890m.com/construction/">Dashboard</a>
            <a class="dropdown-btn">Company Management <i class="fa fa-caret-down"></i></a>
              <div class="dropdown-container">
                  <a href="/addemp">Add Employee</a> 
                  <a href="/empdata">Employee Data</a>
                <a href="http://ishu.890m.com/construction/attendance">Attendance</a>
                <a href="prolist.html">Employee Benefits</a>
                <a href="cprofit.html">Site Details</a>
              </div>
         <a class="dropdown-btn"> Stock Management<i class="fa fa-caret-down"></i></a>
              <div class="dropdown-container">
                  <a href="dlist.html">Inward Stock</a>
                <a href="adriver.html">Closing Stock</a>
                <a href="danalytics.html">Site Purchase</a>
                <a href="payments.html">Stock Requirement</a>
              </div>
       <a href="http://ishu.890m.com/construction/task">Task Monitor</a>    
       <a href="bquote.html">Dealers Data</a>
       <a href="./bills">Bills & Receipts</a>
        <a href="webupload.html">Payments</a>
        <a href="settings.html"><i class="fa fa-gear"></i>Settings</a>

    </li>
    </ul>
</nav>

 