
<a href="#success" class="trigger-btn" data-toggle="modal" id="alert_success_id"></a><br>
<a href="#fail" class="trigger-btn" data-toggle="modal" id="alert_fail_id"></a>



<div class="modal fade" id="success" role="dialog">
        <div class="modal-dialog modalpos">
        
          <!-- Modal content-->
          <div class="modal-content suc">
            <div class="modal-body successmodal">
            <button type="button" class="close" data-dismiss="modal">&times;</button>

            <center><img class="modicon" src="../assets/images/modalicons/checked.png"></center>
              <p>Success</p>
            </div>
    
          </div>
          
        </div>
<script>

function modal_success()
{

    document.getElementById("alert_success_id").click()

//  var varphoneno = /^\d{9}$/;

// if(searchstring.match(varphoneno) !== null)   
}

</script>