<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" />
<link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">



        <button data-toggle="modal" data-target="#successmodal" id="modal_success" style="display : none;">Click</button>

        <button data-toggle="modal" data-target="#failmodal" id="modal_fail" style="display : none;">Click</button>

           <!-- Modal -->



  <div class="modal fade" id="successmodal" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-body">
            <button type="button"  class="close" data-dismiss="modal">&times;</button>
              <p id="Success_Message">Sucessfully Created !</p>
            </div>

          </div>

        </div>
      </div>

      <div class="modal fade" id="failmodal" role="dialog">
          <div class="modal-dialog">
  
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-body">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
                <p id="Fail_Message">Failed to raise Purchase !</p>
              </div>
  
            </div>
  
          </div>
        </div>


