<!DOCTYPE html>
<html lang="en">

<head>
    <title>Purchase Order | A Smart Construction Management Software.</title>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="./assets/images/logo.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" />
    <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <script src="./assets/js/fonticon.js"></script>
    <script src="./assets/js/todo.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans|Nunito:400,600,700&display=swap" rel="stylesheet">
</head>

<body style="background-color:#ffffff;" onload="func_onload();">



    <nav class="navbar navbar-default navbar-fixed-top">
        <%- include('mycustomjs.ejs') %>
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand hidden-xs" href="#"><span>Purchase Management </span> </a>

            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <div class="dropdown">
                            <button onclick="newfun()" class="buttonnew"><i class="fa fa-plus"></i> New</button>
                        </div>
                        <div id="newsite" class="dropdown-content">
                            <a href="./employee">Add Employee</a>
                            <a href="./vendor">Add Vendors</a>
                            <a href="#">Add Product</a>
                            <a href="#">Add Bills</a>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Saicharan</a>
                        <ul class="dropdown-menu">

                            <ul id="pro">
                                <li><a href="">Profile</a>
                                </li>
                                <li><a href="">Settings</a>
                                </li>
                                <li><a href="">logout</a>
                                </li>
                            </ul>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <div class="bottombar">
        <div class="container-fluid">
            <ul class="nav navbar-nav botnav">
                <li class="active"><a href="">Purchase Order</a></li>
                <li><a href="/purchase-request">Purchase Requests</a></li>
                <li><a href="/purchase-history">Purchase History</a></li>
            </ul>
        </div>
    </div>
    <%- include('mysidebar.ejs') %>
    <%- include('mytest.ejs') %>
    <div class="porderdiv">
        <div class="container3">
            <div class="pcard">
                <div class="row">
                    <div class="col-md-2">
                        <label>Vendor Name</label>
                        <select onchange="func_getvendor();" class="purchaseselect controls" name="pass" id="vendor">
                            <option>--select--</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label>Vendor Email</label>
                        <input type="text" class="purchaseinput controls" id="VendorEmail"
                            placeholder="Vendor Email Address">
                    </div>
                    <div class="col-md-2">
                        <label>Vendor Contact</label>
                        <input type="text" class="purchaseinput controls" id="VendorPhone" placeholder="Contact Number">
                    </div>
                    <div class="col-md-2">
                        <label>Vendor State</label>
                        <input type="text" class="purchaseinput controls" id="VendorState" placeholder="Vendor State"
                            placeholder="">
                    </div>
                    <div class="col-md-2">
                        <label>Purchase Site</label>
                        <input type="text" class="purchaseinput controls" id="site" placeholder="Site Location">

                        <input type="hidden" id="id" value="">
                        <input type="hidden" id="order_no" value="">
                        <input type="hidden" id="name" value="admin">
                        <input type="hidden" id="created_by" value="admin">
                        <input type="hidden" id="updated_by" value="admin">
                        <input type="hidden" id="date_ordered" value="">
                        <input type="hidden" id="date_requested" value="">
                        <input type="hidden" id="status" value="requested">
                        <input type="hidden" id="created_date" value="">
                        <input type="hidden" id="updated_date" value="">
                        <input type="hidden" id="comments" value="ok">
                        <input type="hidden" id="date_recieved" value="">
                        <input type="hidden" id="purchase_items" value="">

                    </div>

                    <div class="col-md-2">
                        <p id="curr"> </p>
                        <p id="ordid"></p>
                    </div>

                    <div class="col-md-2">

                    </div>
                    <div class="col-md-2">

                    </div>



                    <script>
                        var ordid = "";
                        var today;
                        var today1;
                        function func_load() {
                            today = new Date();
                            today1 = new Date();
                            var dd = String(today.getDate()).padStart(2, '0');
                            var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                            var yyyy = today.getFullYear();

                            today1 = dd + '/' + mm + '/' + yyyy;
                            today =  yyyy + '-' + mm + '-' + dd;

                            document.getElementById("date_ordered").value = today;
                            document.getElementById("created_date").value = today;
                            document.getElementById("updated_date").value = today;
                            document.getElementById("updated_date").value = today;
                            document.getElementById("date_requested").value = today;
                            document.getElementById('curr').innerHTML = "<span  >Order Date :</span>" + today1;
                            ordid = Math.floor(Math.random() * 100001);
                            document.getElementById("ordid").innerHTML = "<span  >Order No :</span> #" + ordid;
                            document.getElementById("id").value = ordid;
                            document.getElementById("order_no").value = ordid;
                        }

                    </script>
                    <script>
                        function func_postdata(obj) {

                            console.log(obj);

                            var apiurl = "http://localhost:3000/api/purchase_order";
                            console.log(apiurl);

                            var fd = JSON.stringify(obj);
                            console.log(fd);
                            $.ajax({
                                url: apiurl,
                                data: fd,
                                cache: false,
                                processData: false,
                                contentType: 'application/json',
                                type: 'POST',
                                success: function (dataofconfirm) {
                                    // do something with the result
                                    modal_success();
                                },
                                error: function (xhr, status, error) {


                                    console.log(xhr.responseText);
                                    alert("fail");

                                }
                            });
                        }

                        function modal_success() {
                            func_load();
                            func_onload();
                            document.getElementById('VendorEmail').value = "";
                            document.getElementById('VendorPhone').value = "";
                            document.getElementById('site').value = "";

                            document.getElementById('nettotal').value = "";
                            document.getElementById('gsttotal').value = "";
                            document.getElementById('grandtotal').value = "";

                            document.getElementById("tickettable").innerHTML = '<tr class="header"> <th style="width:30%;">Item Name</th> <th>Rate</th> <th>Quantity</th> <th>Net Amount</th> <th>GST </th> <th>GST Amount</th> <th>Total Amount</th> <th>Action</th> </tr> </tbody>';
                            document.getElementById("modal_suc").click();
                        }

                        function setparam_purchase(sts) {
                            var obj = {};

                            obj["id"] = String(ordid);
                            obj["order_no"] = 1;
                            obj["name"] = "";
                            obj["date_ordered"] = today;
                            obj["date_requested"] = today;
                            obj["date_recieved"] = today;
                            obj["comments"] = "";
                            obj["site"] = document.getElementById('site').value;
                            obj["status"] = sts;
                            obj["created_by"] = "admin";
                            obj["updated_by"] = ""
                            obj["created_date"] = today;
                            obj["updated_date"] = today;
                            obj["vendor"] = document.getElementById('vendor').value;
                            obj["purchase_items"] = passjson();

                            func_postdata(obj);

                        }

                    </script>
                    <div class="col-md-10">
                        <button data-toggle="modal" data-target="#successmodal" id="modal_suc"
                            style="display : none;">Click</button>
                        <table class="tickettable purchase-table" id="tickettable">

                            <tbody>
                                <tr class="header">
                                    <th>S.No</th>
                                    <th style="width:20%;">Item Name</th>
                                    <th>Quantity</th>
                                    <th>Unit</th>
                                    <th>Rate</th>
                                    <th>Net Amount</th>
                                    <th>GST %</th>
                                    <th>GST Amount</th>
                                    <th>Total Amount</th>
                                    <th>Action</th>
                                </tr>

                            </tbody>


                        </table>
<div class="purchasingleft">
                                  <table class="purchasingtable" style="display:none" id="GstTable">
                                <tr>
                                  <th>Taxable Value</th>
                                 <th>CGST %</th>
                                 <th>Amount</th>
                                <th>SGST %</th>
                                <th>Amount</th>
                                <th>Net %</th>
                                <th>Amount</th>
                                </tr>
                                <tr>

                                </tr>

                            </table>
                          </div>
                          <div class="row">
                            <div class="col-md-6">               <div class="purchasingleft">
                                <table class="purchasingtable" style="display:none" id="IgstTable">
                                    <tr>
                                      <th>Taxable Value</th>
                                    <th>IGST %</th>
                                    <th>Amount</th>
                                    <th>Net %</th>
                                    <th>Amount</th>
                                    </tr>
                                    <tr>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                    </tr>

                                </table>
                            </div></div>
                            <div class="col-md-6">
                          <div class="purchaseright">
                              <table class="purchasingtable" style="display:block">
                                  <tr>
                                      <th>Net Total</th>
                                    <th>GST Total</th>
                                    <th>Grand Total</th>
                                    </tr>
                                  <tr>
                                      <td>
                                          <input type="text" class="editcontrol" value ="0" disabled id="nettotal" >
                                      </td>
                                      <td> <input type="text" class="editcontrol" value="0" disabled id="gsttotal" > </td>
                                      <td><input type="text" class="editcontrol" value="0" disabled id="grandtotal" ></th>
                                  </tr>

                              </table>
                          </div>
                        </div>

                        </div>
                      </div>
                    <div class="col-md-2 addcontrol">

                        <label>Add Items</label>
                        <div id="alertid" style="color: red;" ></div>
                        <input type="text" name="item" class="controls" placeholder="Enter Item Name" id="item"
                            onkeyup="showResult(this.value)" onblur="">
                        <div id="livesearch"></div>
                        <input type="text" onkeyup="MaskedDecimal(this,'8','2');"  name="rate" class="controls" id="rate"
                            placeholder="Enter Net Rate"><br />
                        <input type="text" placeholder="Enter the Quantity" onkeyup="MaskedNumber(this,'8');" name="quantity"  class="controls" id="quantity" >


                          <input  type="text" name="price" onkeyup="MaskedDecimal(this,'2','2');" class="controls"  id="cgst" placeholder="Enter GST Percentage">
                        <input type="hidden" value="0" name="price" onkeyup="MaskedDecimal(this,'2','2');" class="controls"  id="sgst" placeholder="Enter SGST Percentage">
                        <input type="text" name="price" onkeyup="MaskedDecimal(this,'2','2');" class="controls"  style="" id="igst" placeholder="Enter IGST Percentage">
                        <input type="hidden" name="price" class="controls" id="hiddenitemid"
                            placeholder="Enter GST Percentage">
                            <input type="hidden" name="price" class="controls" id="hiddenitemunit"
                            placeholder="Enter GST Percentage">
                        <script>
                            function mysubmit() {
                                var temp = subUrl();
                                console.log(temp);
                                func_submit(temp);
                            }
                            function showResult(val) {
                                var myurl = "http://localhost:3000/api/products?filter=%7B%22where%22%3A%7B%22name%22%3A+%7B%22like%22%3A%22%25" + val + "%25%22%7D%7D%2C%22limit%22%3A10%2C%22fields%22%3A%5B%22id%22%2C%22name%22%2C%22unit%22%5D%2C%22include%22%3A%5B%22orders%22%5D%7D";



                                $.ajax({
                                    url: myurl,
                                    cache: false,
                                    processData: false,
                                    contentType: 'application/json',
                                    type: 'GET',
                                    success: function (dataofconfirm) {
                                        // do something with the result
                                        livesearch(dataofconfirm);

                                    },
                                    error: function (xhr, status, error) {

                                        alert("fail");

                                    }
                                });


                            }

                            function hideResult()
                            {
                              document.getElementById("livesearch").innerHTML = "";
                                document.getElementById("livesearch").style.border = "";
                                document.getElementById("livesearch").style.padding = "";
                            }
                            function livesearch(data) {

                                var strlen = data.length;

                                if (strlen > 0) {
                                    document.getElementById("livesearch").style.border = "1px solid #A5ACB2";
                                    document.getElementById("livesearch").style.padding = "5px 15px";
                                }
                                if (strlen == 0) {

                                    document.getElementById("livesearch").style.border = "";
                                    document.getElementById("livesearch").style.padding = "";
                                }
                                var strlist = "";
                                for (var i = 0; i < strlen; i++) {
                                    strlist = strlist + '<p onclick="setlivedata(this)" id="' + data[i].id + '" class="' + data[i].unit + '"  >' + data[i].name + "<br>";

                                }
                                document.getElementById("livesearch").innerHTML = strlist;
                            }


                            function setlivedata(ele) {
                                var newstring = ele.innerHTML.replace('<br>', '');

                                document.getElementById('hiddenitemid').value = ele.id;
                                document.getElementById('hiddenitemunit').value = ele.className;
                                document.getElementById('item').value = newstring;
                                document.getElementById("livesearch").innerHTML = "";
                                document.getElementById("livesearch").style.border = "";
                                document.getElementById("livesearch").style.padding = "";
                            }

                        </script>


                        <input type="button" value="Add Product +" class="addbutton" onclick="addRow()" id="add">
                    </div>
                </div>

            </div>

        </div>
    </div>
    <div class="purchase-fixed-bottom">
        <button class="draft-button">Save as Draft</button>
                            <button class="order-button" onclick="passjson();">Place Order</button>
      </div>
</body>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });

    $('input[type="button"]').click(function (e) {
        $(this).closest('tr').remove()
    })
// GlobalParams
var gstFlag='';
var arrcgst=[];
var arrsgst=[];
var arrgst=[];
var arrgstamt =[];
var arrtaxableValue=[];
</script>
<script>
    function newfun() {
        document.getElementById("newsite").classList.toggle("show");
    }
    window.onclick = function (event) {
        if (!event.target.matches('.buttonnew')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
</script>
<script>
    var strjson;
    function func_onload() {

        $.ajax({
            url: "http://localhost:3000/api/vendors",
            cache: false,
            processData: false,
            contentType: 'application/json',
            type: 'GET',
            success: function (dataofconfirm) {
                // do something with the result
                setparam(dataofconfirm);
                func_load();
            },
            error: function (xhr, status, error) {

                alert("fail");

            }
        });

    }

    function setparam(json) {
        strjson = json;
        var x = document.getElementById("vendor");
        for (var i = 0; i < json.length; i++) {
            var obj = json[i];


            var option = document.createElement("option");
            option.text = obj.name;
            option.value = obj.id;
            x.add(option);
        }
    }

    function func_getvendor() {
        var strid = document.getElementById("vendor").value;

        for (var i = 0; i < strjson.length; i++) {
            var obj = strjson[i];
            if (obj.id == strid) {
                document.getElementById("VendorEmail").value = obj.email;
                document.getElementById("VendorPhone").value = obj.phone;
                document.getElementById("VendorState").value = obj.state;

                if((obj.state == 'TamilNadu') || (obj.state == 'Tamil Nadu')){
                  gstFlag="TN";

                  document.getElementById("IgstTable").style.display='none';
                  document.getElementById("GstTable").style.display='block';

                  document.getElementById("igst").type='hidden';
                  document.getElementById("igst").value = 0;
                  document.getElementById("cgst").type='text';
                  document.getElementById("cgst").value='';


                }else if((obj.state == '') || (obj.state == null)){
                  document.getElementById("IgstTable").style.display='none';
                  document.getElementById("GstTable").style.display='none';
                  document.getElementById("igst").type='hidden';
                  document.getElementById("cgst").type='hidden';



                }else{
                  gstFlag="OT";
                  document.getElementById("GstTable").style.display='none';
                  document.getElementById("IgstTable").style.display='block';

                  document.getElementById("igst").type='text';
                  document.getElementById("igst").value='';
                  document.getElementById("cgst").type='hidden';
                  document.getElementById("cgst").value=0;
                }
            }

        }

    }

    function passjson() {
        var rlength = document.getElementById("tickettable").rows.length;

        var tableobj = [];
        var sid;

        var table = document.getElementById("tickettable");



        for (var j = 1; j < rlength; j++) {

            var row = table.rows[j];  //Table Row Number
            var i =  row.id;

            var data = {};

                sid = i + 'quantityid';
                data["quantity"] = parseInt(document.getElementById(sid).value);

                sid = i + 'rateid';
                data["unit_price"] = parseInt(document.getElementById(sid).value);

                sid = i + 'gstid';
                data["gst"] = parseInt(document.getElementById(sid).value);

                sid = i + 'gstamountid';
                data["cgst"] = parseInt(document.getElementById(sid).value);

                sid = i + 'totalamountid';
                data["total"] = parseInt(document.getElementById(sid).value);
                sid = i + 'hiddenitemid';

                data["id"] = document.getElementById(sid).value;

                tableobj.push(data);




        }
        console.log(tableobj);
        document.getElementById("purchase_items").value = JSON.stringify(tableobj);
        mysubmit();


    }

    function mysubmit()
{
    var temp = subUrl();
    console.log(temp);
    func_submit(temp);
}

    function validate()
    {

    }

    function seperategst(gst,gstamount)
    {

    }
    function func_insertgst()
    {

        var gst ;
        if(gstFlag == 'OT')
        {
            gst = parseFloat(document.getElementById("igst").value);
        }
        else if(gstFlag == 'TN')
        {
             gst = parseFloat(document.getElementById("cgst").value);

        }

        var taxableValue=  parseFloat(document.getElementById("rate").value) * parseFloat(document.getElementById("quantity").value);

        var gstamt = parseFloat(gst) * (parseFloat(taxableValue/100));

        if (arrgst.length > 0)
        {
            if(arrgst.indexOf(gst) >= 0)
            {
            var idx =arrgst.indexOf(gst);
            arrgstamt[idx] =parseFloat(arrgstamt[idx]) + gstamt;
            arrtaxableValue[idx]=parseFloat(arrtaxableValue[idx]) + taxableValue;
            }
            else{
                arrgst.push(gst);
            arrgstamt.push(gstamt);
            arrtaxableValue.push(taxableValue);
            }


        }else{
            arrgst.push(gst);
            arrgstamt.push(gstamt);
            arrtaxableValue.push(taxableValue);

        }


//console.log(arrgst+"<>"+arrgstamt+"<>"+arrtaxableValue+"<>")
        func_creategst();
    }

    function func_creategst ()
    {
        alert("creat");
        if(gstFlag == 'TN')
        {

        var table = document.getElementById("GstTable");
            table.innerHTML ='<tr>                    '
+'<th>Taxable Value</th> '
+'<th>CGST %</th>        '
+'<th>Amount</th>        '
+'<th>SGST %</th>        '
+'<th>Amount</th>        '
+'<th>Net %</th>         '
+'<th>Amount</th>        '
+'</tr>             '
+'<tr>                   '               ;
        var len = arrgst.length;
        alert(len);
        for(var i=0;i<len;i++)
        {
        var row = document.createElement("tr");

        var td1 = document.createElement("td");
        var td2 = document.createElement("td");
        var td3 = document.createElement("td");
        var td4 = document.createElement("td");
        var td5 = document.createElement("td");
        var td6 = document.createElement("td");
        var td7 = document.createElement("td");

        td1.innerHTML=arrtaxableValue[i];
        td2.innerHTML=(arrgst[i] /2).toFixed(2);
        td3.innerHTML=(arrgstamt[i] /2).toFixed(2);
        td4.innerHTML=(arrgst[i] /2).toFixed(2);
        td5.innerHTML=(arrgstamt[i] /2).toFixed(2);
        td6.innerHTML=arrgst[i];
        td7.innerHTML=arrgstamt[i];

        row.appendChild(td1);
        row.appendChild(td2);
        row.appendChild(td3);
        row.appendChild(td4);
        row.appendChild(td5);
        row.appendChild(td6);
        row.appendChild(td7);
        table.children[0].appendChild(row);

        }

        }else  if(gstFlag == 'OT')
        {

        }

    }
    function addRow() {


        "use strict";
        func_insertgst();
        var res = func_validate('purchaseadd');
        if(res == 1)
        {
        var rowcounter = document.getElementById("tickettable").rows.length;
        var table = document.getElementById("tickettable");
        var rowcount = randomString();
        //

        var row = document.createElement("tr");
        row.id = rowcount;



        var td0= document.createElement("td");
        var td1 = document.createElement("td");
        var td2 = document.createElement("td");
        var td3 = document.createElement("td");
        var td4 = document.createElement("td");
        var td5 = document.createElement("td");
        var td6 = document.createElement("td");
        var td7 = document.createElement("td");
        var td8 = document.createElement("td");
        var td9 = document.createElement("td");

        var x1 = document.getElementById("item").value;
        var x2 = document.getElementById("rate").value;
        var x3 = document.getElementById("quantity").value;

        var cgst = parseFloat(document.getElementById("cgst").value);
        var sgst = parseFloat(document.getElementById("sgst").value);
        var igst = parseFloat(document.getElementById("igst").value);

        var gst = cgst+sgst+igst;
        gst =parseFloat(gst);

        var netamount = parseFloat(x2) * parseFloat(x3);
        netamount =parseFloat(netamount);

        var strhidden = document.getElementById("hiddenitemid").value;

        seperategst(gst,parseFloat(((netamount / 100) * gst).toFixed(2)));

        td0.innerHTML=rowcounter;
        td0.id=rowcount+'sno';
        td1.innerHTML = '<input  class="editcontrol" type="text" id="' + rowcount + 'itemid' + '" name="' + rowcount + 'itemid' + '" value="' + x1 + '"  >' + '<input  class="editcontrol" type="hidden" id="' + rowcount + 'hiddenitemid' + '" name="' + rowcount + 'itemid' + '" value="' + strhidden + '"  >';

td2.innerHTML = '<input onchange="updatetotal();" class="editcontrol" type="text" name="' + rowcount + 'quantityid' + '" id="' + rowcount + 'quantityid' + '" value="' + x3 + '" >';

td3.innerHTML = document.getElementById('hiddenitemunit').value;

        td4.innerHTML = '<input onchange="updatetotal();" class="editcontrol" type="text" name="' + rowcount + 'rateid' + '" id="' + rowcount + 'rateid' + '" value="' + x2 + '"  >';



        td5.innerHTML = '<input  class="editcontrol" disabled type="text" id="' + rowcount + 'netamountid' + '" name="' + rowcount + 'netamount' + '" value="' + netamount + '"  >';

        td6.innerHTML = '<input onchange="updatetotal();" class="editcontrol" type="text" name="' + rowcount + 'gstid' + '" id="' + rowcount + 'gstid' + '" value="' + gst + '" >';

        td7.innerHTML = '<input  class="editcontrol" disabled type="text" id="' + rowcount + 'gstamountid' + '" name="' + rowcount + 'gstamount' + '" value="' + parseFloat(((netamount / 100) * gst).toFixed(2)) + '"  >';

        td8.innerHTML = '<input  class="editcontrol" disabled type="text" id="' + rowcount + 'totalamountid' + '" name="' + rowcount + 'totalamountid' + '" value="' + parseFloat((netamount + ((netamount / 100) * gst)).toFixed(2)) + '"  >';

        td9.innerHTML = '<td><input type="button" class="Purchase-delete" value="X" onclick="SomeDeleteRowFunction(\'' + rowcounter + '\')"></td>'

        row.appendChild(td0);
        row.appendChild(td1);
        row.appendChild(td2);
        row.appendChild(td3);
        row.appendChild(td4);
        row.appendChild(td5);
        row.appendChild(td6);
        row.appendChild(td7);
        row.appendChild(td8);
        row.appendChild(td9);


        table.children[0].appendChild(row);

        var result_style = document.getElementById(rowcount).style;

        result_style.display = 'table-row';

        document.getElementById("item").value = "";
        document.getElementById("rate").value = "";
        document.getElementById("quantity").value = "";

        document.getElementById("cgst").value = "0";
        document.getElementById("sgst").value = "0";

        document.getElementById("igst").value = "0";


        var tot = document.getElementById("grandtotal").value;
        tot = parseFloat(tot) + parseFloat(netamount) + parseFloat((netamount / 100) * gst);
        document.getElementById("grandtotal").value = parseFloat(tot.toFixed(2));

        tot = document.getElementById("nettotal").value;
        tot = parseFloat(tot) + parseFloat(netamount);
        document.getElementById("nettotal").value = parseFloat(tot.toFixed(2));

        tot = document.getElementById("gsttotal").value;
        tot = parseFloat(tot) + parseFloat(((netamount / 100) * gst));
        document.getElementById("gsttotal").value = parseFloat(tot.toFixed(2));

    }

    };

    function SomeDeleteRowFunction(rowcount) {
        document.getElementById('tickettable').deleteRow(rowcount);

        var rowlength = document.getElementById("tickettable").rows.length;
        var table = document.getElementById("tickettable");
        for(var i=1 ; i<rowlength ; i++ )
        {
            // Tabli Id
            var row = table.rows[i];  //Table Row Number
            var temp =  row.id+'sno';
            document.getElementById(temp).innerHTML=i;
        }
        updatetotal();

    }

    function updatetotal()
    {
        var rowlength = document.getElementById("tickettable").rows.length;
        var v="0";
        var grandnet=parseFloat(v);
        var grandgst =parseFloat(v);
        var grandtot =parseFloat(v);
        for(var i=1 ; i<rowlength ; i++ )
        {
            var table = document.getElementById("tickettable"); // Tabli Id
            var row = table.rows[i];  //Table Row Number
            var temp =  row.id

            var x1 = document.getElementById(temp + "rateid").value;
            var x2 = document.getElementById(temp + "quantityid").value;
            var x3 = document.getElementById(temp + "gstid").value;

            var netvalue = parseFloat(x1) * parseFloat(x2);
            grandnet = grandnet + netvalue;
            var gstvalue = (parseFloat(netvalue)/100) * parseFloat(x3);
            grandgst=grandgst+gstvalue;
            var total = netvalue + gstvalue;
            grandtot=grandtot+total;

            document.getElementById(temp + "netamountid").value =netvalue;
            document.getElementById(temp + "gstamountid").value = gstvalue;
            document.getElementById(temp + "totalamountid").value = total;
        }

        document.getElementById("nettotal").value =grandnet;
        document.getElementById("gsttotal").value =grandgst;
        document.getElementById("grandtotal").value =grandtot;
    }
    function updaterow(rowcount) {





        var x4 = document.getElementById(rowcount + "totalamountid").value;
        var x5 = document.getElementById("grandtotal").value;

        //  var diffval = ((x1*x2)+(((x1*x2)/100)*x3)) - (x4);

        x5 = (x5 - x4) + ((x1 * x2) + (((x1 * x2) / 100) * x3));
        //   console.log("diff => "+diffval);

        tot = document.getElementById("nettotal").value;
        tot = parseFloat(tot) - parseFloat(document.getElementById(rowcount + "netamountid").value);
        document.getElementById("nettotal").value = parseFloat(tot.toFixed(2)) + parseFloat(x1 * x2);

        tot = document.getElementById("gsttotal").value;
        tot = parseFloat(tot) - parseFloat(document.getElementById(rowcount + "gstamountid").value);
        document.getElementById("gsttotal").value = parseFloat(tot.toFixed(2)) + parseFloat((x1 * x2) + (((x1 * x2) / 100) * x3));


        document.getElementById("grandtotal").value = x5;

        document.getElementById(rowcount + "netamountid").value = x1 * x2;
        document.getElementById(rowcount + "gstamountid").value = (((x1 * x2) / 100) * x3);
        document.getElementById(rowcount + "totalamountid").value = (x1 * x2) + (((x1 * x2) / 100) * x3);

    }


    function tableToJson(table) {
        var data = [];
        var headers = [];
        var myid = ["itemid", "rateid", "quantityid", "netamountid", "gstid", "gstamountid", "totalamountid"];
        for (var i = 0; i < table.rows[0].cells.length; i++) {
            headers[i] = table.rows[0].cells[i].innerHTML.toLowerCase().replace(/ /gi, '');
        }

        for (var i = 1; i < table.rows.length; i++) {
            var tableRow = table.rows[i]; var rowData = {};
            for (var j = 0; j < tableRow.cells.length; j++) {

                rowData[headers[j]] = document.getElementById(i + myid[j]).value;
            } data.push(rowData);
        }
        return data;
    }
</script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="./assets/js/todo.js"></script>
<script type="text/javascript">
    $("#datepicker").datepicker();
    $("#datepicker").datepicker("option", "dateFormat", "dd/mm/yy");
    todo.init();

</script>
<style>
    .modal-backdrop {
        background: none;
    }
</style>

</html>
