/*author:saicharan*/
/*project:minicabee*/
/*scrollbar*/

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
/*scrollbar*/
/*navbar*/
body{
    background-color:#ffffff;
    overflow-x: hidden !important;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    border-radius: 0px;
    background-image: linear-gradient(61deg,#401c5d,#51339f 49%,#6741ca);
    border:none;
    padding:5px;
    }
.navbar-nav>li:hover{
    text-decoration:none;
}
.navbar-default .navbar-nav>li>a{
color:#ffffff;
font-family: 'Poppins', sans-serif;
font-size:15px;
letter-spacing:0.4px;
}
.navbar-default .navbar-nav>li>a:hover{
    color:#ffffff; 
    }
#brandname
{
color:#ffffff;
font-family: 'Poppins', sans-serif;
font-size:22px;
    padding-left:60px;
    font-weight:700;
letter-spacing: 0.8px;
}
#brandname span
{
    color:#a6fc74;
}
.fa-bell
{
    color:#eaaa1b;
}

/*navbar*/

/*sidebar-wrapper*/

.navbar-primary {
    background-color: #ffffff;
    bottom: 0px;
    left: 0px;
    position: fixed;
    top: 50px;
  max-height:100vh;
      border-right:1px solid #f4f4f4;
    overflow-y: scroll !important;
    font-family: 'Poppins', sans-serif;
    padding-top: 10px;
    border: none !important;
    width: 255px;
    z-index: 8;
        box-shadow: 0 3px 5px 0 rgba(0,0,0,.1);
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.navbar-primary-menu, .navbar-primary-menu li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.navbar-primary-menu li a {
    display: block;
    padding: 13px 18px;
    text-align: left;
    font-size:15px;
    text-decoration: none !important;
    font-weight: 500;
        border-right:1px solid #f4f4f4;
      border-bottom:1px solid #f4f4f4;
    color: #000000;
}
.navbar-primary-menu li a:hover{
  background-image: linear-gradient(61deg,#401c5d,#51339f 49%,#6741ca);
    color: #ffffff;
}
.btn-expand-collapse {
    position: absolute;
    display: block;
    left: 0px;
    bottom: 0;
    margin-top:-10px !important;
    padding: 8px 0;
    color: #000000;
    font-size: 20px;
    text-align: center;
}
.navbar-primary.collapsed {
    width:0px;
}
.navbar-primary.collapsed .nav-label {
    display: none;
}
.navbar-primary.collapsed .fa {
    font-size: 20px;
}
.nav-label
{
    margin-left: 2px !important;
}
.dropdown-btn {
    padding:10px 8px;
    text-decoration: none;
    font-size: 15px;
    color: #000000;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    border-bottom:1px solid #f4f4f4;
}
.dropdown-container {
    display: none;
    background-color: #f1f1f1;
}
.dropdown-container a
{
     color:#000000 !important;
    border:none;
}
.dropdown-container a:hover{
    color:#ffffff !important;
}
.fa-bars{
    font-size: 30px !important;
    padding: 5px 20px;
    margin-top:-10px !important;
    color:#ffffff;
}
.fa-caret-down
{
    font-size: 15px !important;
    padding: 5px 8px;
}
/*sidebar-wrapper*/
#over_map {
    position: absolute;
    top: 10px;
    left: 10px;
    min-width: 400px;
    z-index: 99;
    padding: 5px;
    border-radius:5px;
    background-color: #ffffff;
}
 #wrapper { position: relative; }
/*main-content*/

.main-content {
    margin-top: 40px;
    margin-left: 250px;
    padding:20px 10px !important;
       
}
.input {
    width: 100%;
    padding: 12px 20px;
    min-height: 45px;
    margin: 8px 0;
    color: #000000;
    box-sizing: border-box;
    background-color: #E2E2E2;
    font-family: 'Poppins', sans-serif;
}
input[type="file"] {
    width: 100%;
    padding: 12px 20px;
    padding-left: 20px;
    min-height: 45px;
    margin: 8px 0;
    color: #000000;
    box-sizing: border-box;
    background-color: #E2E2E2;
    font-family: 'Poppins', sans-serif;
}
.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    background-color: #E2E2E2;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 40px;
    outline: none;
     font-family: 'Poppins', sans-serif;
}
.textarea {
  width: 100%;
  padding: 12px 20px;
  min-height: 45px;
  margin: 8px 0;
  min-height: 100px;
  color: #000000;
  box-sizing: border-box;
  background-color: #E2E2E2;
  font-family: 'Poppins', sans-serif;
}
    .title
    {
       font-family: 'Poppins', sans-serif;
font-size:20px;
letter-spacing: 0.8px;
font-weight:600;
    }
.selectit {
    width: 100%;
    min-height: 45px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border:none !important;
  font-family: 'Poppins', sans-serif;
    background-color: #E2E2E2;
}
.collapsed + .main-content {
    margin-left:0px !important;
}
.container1 {
 padding:10px;
    margin-right:2px;
    margin-left:2px;
    background-color: #ffffff;
}
.container2
{
  padding:10px;
    margin-right:10px;
    margin-left:10px;
    background-color: #ffffff; 
}
.textarea {
    width: 100%;
    padding: 12px 20px;
    min-height: 45px;
    margin: 8px 0;
    min-height: 100px;
    color: #000000;
    box-sizing: border-box;
    background-color: #E2E2E2;
    font-family: 'Open Sans', sans-serif;
}
.text {
    width: 100%;
    border-color: transparent !important;
    box-sizing: border-box !important;
    padding: 0px;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
<!--datatables-->

  #myTable {
    border-collapse: collapse;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size:14px;
     letter-spacing: 0.2px;
  }
  .first
{
    border:none !important;
}
.drivetab td:first-child
{
padding-top:30px;
}
  #myTable th, #myTable td {
    text-align: left;
    padding: 10px;
  font-family: 'Poppins', sans-serif;
  }
   th
  {
      background-color:#f4f4f4;
   font-family: 'Poppins', sans-serif;
      font-size:15px;
      letter-spacing:0.5px;
      padding:10px;
  }
  #myTable tr {
    border-bottom: 1px solid #ddd;
  }
 .empimg
{
    max-width:200px;
    width:100%;
}
.docimage {
    max-height: 450px;
    max-width: 500px;
    width: 100%;
}
.medium
{
  max-width:1000px;
  width:100%;
}
  <!--tab-panel-->

  .tabbable-panel {
    border:1px solid #eee;
       background-color: #ffffff;
    padding: 10px;
  }

  /* Default mode */
  .tabbable-line > .nav-tabs {
    border: none;
    margin: 0px;
  }
  .tabbable-line > .nav-tabs > li {
    margin-right: 2px;
    font-size:15px;
   font-family: 'Poppins', sans-serif;
  }
  .tabbable-line > .nav-tabs > li > a {
    border: 0;
    margin-right: 0;
    color: #737373;
  }
  .tabbable-line > .nav-tabs > li > a > i {
    color: #a6a6a6;
  }
  .tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
    border-bottom: 4px solid #fbcdcf;
  }
  .tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
    border: 0;
    background: none !important;
    color: #333333;
  }
  .tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
    color: #a6a6a6;
  }
  .tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
    margin-top: 0px;
  }
  .tabbable-line > .nav-tabs > li.active {
    border-bottom: 4px solid #f3565d;
    position: relative;
  }
  .tabbable-line > .nav-tabs > li.active > a {
    border: 0;
    color: #333333;
  }
  .tabbable-line > .nav-tabs > li.active > a > i {
    color: #404040;
  }
  .tabbable-line > .tab-content {
    margin-top: -3px;
    background-color: #fff;
    border: 0;
    border-top: 1px solid #eee;
    padding: 15px 0;
  }
  .portlet .tabbable-line > .tab-content {
    padding-bottom: 0;
  }
  
  .table-user-information > tbody > tr > td {
    border-top: 0;
    padding:8px 5px;
}

  <!--modal-css-->


  .modal.left .modal-dialog,
	.modal.right .modal-dialog {
		position: fixed;
		margin: auto;
		width: 700px;
		max-height: 100vh !important;
		overflow-y:scroll !important;
		-webkit-transform: translate3d(0%, 0, 0);
		    -ms-transform: translate3d(0%, 0, 0);
		     -o-transform: translate3d(0%, 0, 0);
		        transform: translate3d(0%, 0, 0);
	}

	.modal.left .modal-content,
	.modal.right .modal-content {
		height: 100%;
		overflow-y: auto;
	}
	
	.modal.left .modal-body,
	.modal.right .modal-body {
		padding: 15px 15px 80px;
	} 
/*Right*/
	.modal.right.fade .modal-dialog {
		right: -500px;
		-webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, right 0.3s ease-out;
		        transition: opacity 0.3s linear, right 0.3s ease-out;
	}
	
	.modal.right.fade.in .modal-dialog {
		right: 0;
	}

/* ----- MODAL STYLE ----- */
	.modal-content {
		border-radius: 0;
		border: none;
	}

	.modal-header {
		border-bottom-color: #EEEEEE;
		background-color:#232F3E;
        color:#ffffff;
	}

/* ----- v CAN BE DELETED v ----- */

/*preloader*/

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  /* change if the mask should have another color then white */
  z-index: 99;
  /* makes sure it stays on top */
}

#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  /* centers the loading animation horizontally one the screen */
  top: 50%;
  /* centers the loading animation vertically one the screen */
  background-image: url(https://raw.githubusercontent.com/niklausgerber/PreLoadMe/master/img/status.gif);
  /* path to your loading animation */
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
  /* is width and height divided by two */
}

/*preloader*/



/*buttons*/

.buttonred {
  background-color: #FF0000; /* red */
  border: none;
  color: white;
   padding:10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.buttongreen {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding:10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.buttonblue {
  background-color: #286090; /* blue */
  border: none;
  color: white;
  padding:10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
select
{
     font-family: 'FontAwesome', 'Second Font name';
}
/*buttons*/


/*colors*/


.color1
{
    background-color:#bcffd0;
font-size:15px;
letter-spacing:0.5px;
font-weight:600;
}
.color2
{
    background-color:#c4c5ff;
font-size:15px;
letter-spacing:0.5px;
font-weight:600;
}
.color3
{
    background-color:#fdccbd;
font-size:15px;
letter-spacing:0.5px;
font-weight:600;
}
.color4
{
    background-color:#b2d0fb;
font-size:15px;
letter-spacing:0.5px;
font-weight:600;
}
.color5
{
    background-color:#e1e4e9;
font-size:15px;
letter-spacing:0.5px;
font-weight:600;
}
.color6
{
    background-color:#ffcfd5;
font-size:15px;
letter-spacing:0.5px;
font-weight:600;
}


/*colors*/

/*card*/
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    padding:10px;
    font-family: 'Poppins', sans-serif;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.passtab input
{
    width:70%;
    padding:5px;
}
.passtab.selectit
{
{
{
       width: 70% !important;
}
/*card*/

